/* Admin Dashboard design by Vlad Hadyak */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');               /* Reg */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');      /* Bold */

:root {
  --main-content-font: 'Roboto', sans-serif;
  --main-bg-color: white;
  --header-bg-color: black;
  --sidebar-bg-color: rgba(231, 244, 91, 0.632);
  --cards-bg-color: white;
  --font-color: gray;
  --min-line-height: 15px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) repeat(5, 1fr);
  grid-template-rows: 250px repeat(5, 1fr);

  grid-template-areas: "sidebar header header header header header"
                       "sidebar main-content main-content main-content main-content main-content"
                       "sidebar main-content main-content main-content main-content main-content"
                       "sidebar main-content main-content main-content main-content main-content"
                       "sidebar main-content main-content main-content main-content main-content"
                       "sidebar main-content main-content main-content main-content main-content";
}

.header-container {
  grid-area: header;
  background-color: rgb(224, 223, 223);

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr; 
  place-items: center;
  box-shadow: 0 8px 15px -4px rgba(0, 0, 0, 0.5);
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding-left: 50px;
}

.search-container input[type="text"] {
  width: 70%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgb(158, 156, 156);
  padding-left: 20px;
  font-size: 1.1rem;                              /* !!! */
  font-family: var(--main-content-font);
}

input[type="text"]::placeholder {
  color: rgb(198, 194, 194);
}

.search-container input[type="text"]:focus {
  box-shadow: 0 0 5px 3px rgba(2, 2, 2, 0.1);        /* !!! */
  outline: none;
}

#search-btn {
  border: none;
  background-color: transparent;
}

.material-symbols-outlined {
  background-color: transparent;
  margin-left: -5px;
  cursor: pointer;
  color: rgb(40, 79, 43);

  font-variation-settings:
    'FILL' 0,
    'wght' 900,
    'GRAD' 0,
    'opsz' 48
}

.full-name-handler {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 0 50px 0 0;
}

.full-name-handler .full-name {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font-weight: bold;
  font-family: var(--main-content-font);
}

/* Bell notification */
.full-name-handler img {
  width: clamp(20px, 2.5vw, 35px);
  height: clamp(20px, 2.5vw, 35px);
}

.full-name-handler .profile-pic,
.username-avi {
  width: clamp(30px, 4vw, 55px);
  height: clamp(30px, 4vw, 55px);
  border: 1px solid black;
  border-radius: 100%;
  background-image: url(img/capy.webp);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 20px;
}

.profile-handler {
  gap: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 50px;
  margin-bottom: 30px;
  padding-right: 15px;
}

.profile-handler .profile-pic {
  width: clamp(60px, 6vw, 100px);
  height: clamp(60px, 6vw, 100px);
  border: 1px solid black;
  border-radius: 100%;
  background-image: url(img/capy.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Introduction text */
.self-intro {
  white-space: pre-line;
  line-height: calc(0.8vw + var(--min-line-height));
  font-size: clamp(1rem, 1vw, 1.2rem);
  font-family: var(--main-content-font);
}

/* Name and username */
.self-intro span {
  font-size: clamp(1.4rem, 2vw, 2rem);
  font-weight: bold;
  font-family: var(--main-content-font);
}

.buttons {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  align-items: center;
  padding: 0 50px 0 0;
}

.buttons > button {
  height: clamp(30px, 3.5vw, 50px);
  width: clamp(70px, 7vw, 120px);
  border-radius: 50px;
  border: none;
  background-color: rgb(39, 48, 114);
  font-size: clamp(0.8rem, 1vw, 1.3rem);
  color: rgb(238, 232, 232);
  cursor: pointer;
  font-family: var(--main-content-font);
}

.sidebar-container {
  grid-area: sidebar;
  background-color: var(--sidebar-bg-color);

  display: grid;
  grid-template-rows: 100px min-content min-content min-content;
  gap: 85px;
  box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.5);         /* !!! */
}

.logo-sec {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 53px;
  padding-top: 15px;
}

/* Sidebar icon */
.logo-sec > img {
  width: clamp(45px, 4vw, 60px);          /* Custom img width */
  height: 60px;
  margin-left: -10px;
}

/* Sidebar title */
.logo-sec  span {
  font-size: clamp(1.5rem, 1.7vw, 2.3rem);
  font-family: var(--main-content-font);
  font-weight: bold;
}

.line {
  justify-self: center;
  border: 1px solid rgba(4, 4, 4, 0.391);
  height: 1px;
  width: 85%;
  margin-top: -70px;
}

.sidebar-container ul > li {
  list-style-type: none;
  font-family: var(--main-content-font);             /* Roboto prob */
  font-weight: 550; 

  font-size: clamp(1.2rem, 1.3vw, 1.6rem);       /* Custom li font size */
  padding-left: 55px;
  width: 50%;
}

ul {
  padding: 0; 
  margin: 0; 
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sidebar-container > ul:first-of-type {
  margin-top: -100px;
}

/* Sidebar icons */
.sidebar-container ul > li > a > img {
  width: clamp(25px, 2vw, 35px);          /* Custom img width */
  height: 35px;
}

ul li > a {
  display: flex;
  align-items: center;
  gap: 25px;
}

a:visited {
  color: initial;
}

ul > li > a,
.self-intro span > a {
  text-decoration: none;
}

/* Projects + Announcements + Trending */
.main-content-container {
  grid-area: main-content;

  display: grid;
  grid-template-columns: repeat(2, 1fr) max(18%, 200px);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "project project side"
                       "project project side";
  column-gap: 40px;           
  margin: 0 60px 50px 40px;
  padding-top: 20px;
}

.projects {
  grid-area: project;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-auto-rows: minmax(230px, auto);                                /* change height if more content is included */
  gap: 35px;
}

.card {
  border-left: 10px solid rgb(42, 99, 99);
  background-color: rgb(247, 245, 243);                 /* Custom var() bg color for cards */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3),          /* Needs alternative design */
              0px -1px 10px rgba(0, 0, 0, 0.3),
              1px 0px 10px rgba(0, 0, 0, 0.3);
}

.info {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 50px 0 25px;                                 /* top/right/btm/left */
  row-gap: 5px;
}

/* Project title */
.title {
  font-size: clamp(1.2rem, 1.5vw, 1.4rem);
  font-family: var(--main-content-font);
  font-weight: 600;
}

/* Project description */
.title + div {
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: rgba(0, 0, 0, 0.985);                           /* Custom set var() needed */
  font-family: var(--main-content-font);
}

/* Project card icons */
.card .icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  padding-right: 30px;
}

.icons > img {
  width: 28px;         
  height: 28px;
}

/* Announcements + Trending */
.side-content {
  grid-area: side;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
}

.announcement-card {
  background-color: rgb(225, 221, 221);
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Titles (Announcements section) */
.announcement-card > div h3 {
  margin-top: 15px;
  margin-bottom: -13px;
  font-size: 1.1rem;
  font-family: var(--main-content-font);
}

/* Description (Announcements section) */
.announcement-card p {
  font-size: 1rem;
  color: rgb(74, 73, 73);                              /* Custom set var() needed */
  font-family: var(--main-content-font);
}

.announcement-card > div {
  width: 82%;
  padding: 0 10px 0 10px;
}

.announcement-card > div ~ div {
  border-top: 1px solid rgb(92, 92, 94);                /* Needs styling */
}

.trending-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trending-card {
  flex: 1;
  background-color: rgb(225, 221, 221);
  border: 1px solid black;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 20px;
  padding-top: 25px;
}

.cards,
.announcement-card,
.trending-card {
  margin-top: -5px;
}

.trending-container h2,
.announcement-container h2,
.projects h2 {
  font-size: clamp(1.3rem, 1.5vw, 1.6rem);
  font-family: var(--main-content-font);
}

/* Trending item */
.item {
  display: flex;
  gap: 15px;
}

/* User's Avatar */ 
.username-avi.one {
  background-image: url(/img/chick.jpeg);
}

.username-avi.two {
  background-image: url(/img/pepe.jpg);
  background-position: 0 -6px;
}

.username-avi.three {
  background-image: url(/img/depressed.webp);
  background-position: -8px 0px;
}

.username-avi {
  width: clamp(30px, 4vw, 55px);
  height: clamp(30px, 4vw, 55px);
  flex-shrink: 0;
  margin-top: 2px;
}

.username-1,
.username-2,
.username-3 {
  font-weight: 500;
  font-size: clamp(0.8rem, 1vw, 1.05rem);
  font-family: var(--main-content-font);
}

/* Username's comment */
.item > div > span {
  font-size: clamp(0.7rem, 1vw, 0.92rem);
  font-family: var(--main-content-font);
  color: rgb(80, 80, 81);                       /* Custom set var() needed */
}

/* Username + comment text */
.item > div:last-child {
  line-height: clamp(0.8rem, 1vw, 1.25rem);
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-bottom: 20px;
}

/* Mobile Responsiveness */
@media (max-width: 900px) {
  body {
    overflow-x: hidden;
  }

  .line {
    display: none;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "sidebar"
                         "main-content";

    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
  }

  .header-container {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;                        /* Single column layout for mobile */
    grid-template-rows: auto;
    grid-template-areas: "search full-name"
                         "profile profile"
                         "buttons buttons";
  }

  .sidebar-container {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: "list-1"
                         "list-2";         
    gap: 1px; 
    position: -webkit-sticky;
    position: sticky;
    top: -5px;
    background-color: #fffffff0;                       /* 0.941 alpha */
  }

  .sidebar-container > ul:first-of-type{
    grid-area: list-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    padding: 0;
    margin: 0;   
    margin-top: 10px;
    padding-right: 10px;
  }

  .sidebar-container > ul:last-of-type {
    grid-area: list-2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    padding: 0;
    margin: 0;
    margin-bottom: -5px;
    padding-right: 10px;
  }

  .sidebar-container ul > li {
    font-size: 0.9rem;
  }

  .logo-sec > span,
  .logo-sec > img {
    display: none;
  }
  
  .main-content-container {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 1fr;                      /* Single column layout for mobile */
    grid-template-rows: auto;
    grid-template-areas: "project"
                         "side";
  }   

  .projects {
    grid-area: project;
  }

  .side-content {
    grid-area: side;
  }
  
  .full-name-handler .full-name {
    font-size: 1rem;
  }
  
  .full-name-handler .profile-pic {
    width: 20px;
    height: 20px;
    margin-right: -3px;
  }

  .full-name-handler {
    grid-area: full-name;
    margin-top: 20px;
  }

  .full-name-handler img {
    margin-right: -5px;
  }
  
  .profile-handler {
    grid-area: profile;
    margin-top: 30px;
  }

  .self-intro span {
    font-size: 1.35rem;
    font-weight: bold;
    font-family: var(--main-content-font);
  }

  .self-intro {
    font-size: 0.8rem;
    font-family: var(--main-content-font);
    line-height: 1.4rem;
  }

  .search-container {
    grid-area: search;
    justify-content: flex-start;
    margin-top: 20px;
  }

  .search-container input[type="text"] {
    height: 25px;
    font-size: 0.8rem;
  }

  .buttons {
    grid-area: buttons;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 50px;
    height: auto;
    margin-bottom: -20px;
    padding-left: 50px;
  }

  .announcement-container {
    margin-top: 20px;
  }

  .item > div > span {
    font-size: 0.9rem;
  }
  
  .username-1,
  .username-2,
  .username-3 {
    font-size: 1rem;
  }

  .username-avi {
    width: 40px;
    height: 40px;
  }

  .item > div:last-child {
    line-height: 1.3rem;
  }
}